@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

body {
    background: lightblue url("../.././background_image/background_2_opacity.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: contain;
}

.nav-bar {
    background-color: #190073;
}

.nav-bar-header {
    color: white !Important;
    margin-top: 2px;
}

.nav-bar-header:hover {
    color: white;
    background-color: rgb(252, 152, 3);
}

.footer-basic {
    /* position: fixed;
    left: 0;
    bottom: 0; */
    margin-top: 0px;
    width: 100%;
    padding: 20px 0;
    background-color: #190073;
    color: #ffffff;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: #ffffff;
    text-decoration: none;
    opacity: 1;
}

.footer-basic ul a:hover {
    color: rgb(252, 152, 3);
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 10px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    color: black;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: white;
    margin-bottom: 0;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 30px;
}

.wrap-table100 {
    width: 1300px;
}


/*//////////////////////////////////////////////////////////////////
  [ Table ]*/

table {
    width: 100%;
    background-color: #fff;
}

th,
td {
    font-weight: unset;
    padding-right: 10px;
}

.column100 {
    width: 50px;
    padding-left: 25px;
    text-align: center;
}

.column100.column0 {
    width: 50px;
    /* padding-left: 25px; */
    text-align: center;
}

.column100.column1 {
    width: 160px;
    /* padding-left: 25px; */
    text-align: center;
}

.column100.column2 {
    width: 200px;
    /* padding-left: 42px; */
    text-align: center;
}

.column100.column3 {
    width: 150px;
    /* padding-left: 20px; */
    text-align: center;
}

.column100.column4 {
    width: 150px;
    /* padding-left: 20px; */
    text-align: center;
}

.row100.head th {
    padding-top: 24px;
    padding-bottom: 20px;
}

.row100 td {
    padding-top: 18px;
    padding-bottom: 14px;
}

.table100.ver6 {
    border-radius: 16px;
    overflow: hidden;
    background: #7918f2;
    background: -webkit-linear-gradient(-68deg, #000f5c, #000117);
    background: -o-linear-gradient(-68deg, #000f5c, #000117);
    background: -moz-linear-gradient(-68deg, #000f5c, #000117);
    background: linear-gradient(-68deg, #000f5c, #000117);
}

.table100.ver6 table {
    background-color: transparent;
}

.table100.ver6 td {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #fff;
    line-height: 1.4;
}

.table100.ver6 th {
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.32);
}

.table100.ver6 .row100:hover td {
    background-color: rgba(255, 255, 255, 0.1);
}

.table100.ver6 .hov-column-ver6 {
    background-color: rgba(255, 255, 255, 0.1);
}

.table100.ver6 .row100 td:hover {
    background-color: rgba(255, 255, 255, 0.2);
}